{% extends 'base.html' %}

{% block header %}
<h1>{% block title %} Login {% endblock %}</h1>
{% endblock %}

{% block body %}
<div class="auth-form shadow-lg p-4 my-4">
    <h2>Welcome</h2>
    <p>Don't have an account? <a href="{{ url_for('auth.register_user') }}" class="link">
        Sign Up
    </a></p>
    <hr class="mb-4">
    <form action="" method="post">
        {{ form.csrf_token }}
        <div class="form-floating mb-3">
            {{ form.username }}
            {{ form.username.label(class="form-label") }}
            {% if form.username.errors %}
            <ul class="form-error">
                {% for error in form.username.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        <div class="form-floating mb-3">
            {{ form.password }}
            {{ form.password.label(class="form-label") }}
            {% if form.password.errors %}
            <ul class="form-error">
                {% for error in form.password.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        <div class="row p-3">
            <div class="form-check col-6">
                <input type="checkbox" class="form-check-input" name="rememberPassword" id="rememberPassword" value="remember-me">
                <label class="form-check-label" for="rememberPassword">Remember me</label>
            </div>
            <div class="col-6 ">
                <a href="#">Reset password</a>
            </div>
        </div>
        <div>
            {{ form.submit }}
        </div>
    </form>
</div>
{% endblock %}