{% extends "base.html" %} 
{% block body %}
<div class="container">
    <div class="auth-form shadow-lg my-5">
        <h2>Create new account</h2>
        <p>Sign up for a new account to manage your subjects. You can <a href="{{ url_for("dashboard.index") }}" class="link">browse the various 
            revision materials</a> without an account, but you will need to create a new one to save your revision materials.
        </p>
        <p>Already signed up? <a href="{{ url_for("auth.login_student") }}" class="link">Log in</a></p>
        <hr class="mb-3">
        <form method="post">
            {{ form.csrf_token }}
            <div class="row">
                <div class="mb-3 col-md">
                    {{ form.firstname.label(class="form-label")}}
                    {% if form.firstname.required %}
                        <span class="text-danger">*</span>
                    {% endif %}
                    {{ form.firstname }}
                    {% if form.firstname.errors %}
                    <ul class="error">
                        {% for error in form.firstname.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="mb-3 col-md">
                    {{ form.lastname.label(class="form-label") }}
                    {{ form.lastname }}
                    {% if form.lastname.errors %}
                    <ul class="error">
                        {% for error in form.lastname.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </div>
            <div class="mb-3">
                {{ form.gender.label(class="form-label") }}
                {{ form.gender }}
            </div>
            <div class="mb-3">
                {{ form.birthdate.label(class="form-label") }}
                {{ form.birthdate }}
            </div>
            <div class="mb-3">
                {{ form.username.label(class="form-label") }}
                {{ form.username }}
            </div>
            <div class="mb-3">
                {{ form.email.label(class="form-label") }}
                {{ form.email }}
            </div>
            <div class="row">
                <div class="mb-3 col-md">
                    {{ form.password.label(class="form-label") }}
                    {{ form.password }}
                    {% if form.password.errors %}
                    <ul class="error">
                        {% for error in form.password.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="mb-3 col-md">
                    {{ form.password2.label(class="form-label") }}
                    {{ form.password2 }}
                </div>
            </div>
            <div class="mb-3">
                {{ form.submit }}
            </div>
        </form>
        <p>* &nbsp; Email addresses are not stored in a form that allows us to contact students.
            Students will never receive emails from dijidaro except for password recovery.
            See our <a href="#" class="link">privacy policy</a> for more information.
        </p>
    </div>
</div>
{% endblock %}