{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block body %}
<section>
    <div class="hero">
        <h1 class="mb-4">Empowering Learning, Sharing Information for Unparalled Excellence.</h1>
        <button class="btn btn-primary">Start Exploring</button>
    </div>
    <div class="info">
        <p>Get access to quality educational resources, connecting learners with 
            valuable resources and supporting their academic success.</p>
        <section class="info-btn">
            <button class="btn btn-primary">About Dijidaro</button>
            <button class="btn btn-primary">For Educators</button>
            <button class="btn btn-primary">For Parents</button>
        </section>
    </div>
</section>
{% endblock %}