@media (min-width: 992px) {

    /* HEADER SECTION */
    .hamburger, .close { display: none; }
    header { background-color: var(--brand-color); }
    header .navigation {
        height: 50px;
        max-width: 992px;
        margin: 0 auto;
    }
    nav {
        position: static;
        transform: translateX(0);
        height: auto;
        margin: 0 auto;
        width: auto;
        background: transparent;
    }
    nav ul {
        flex-flow: row nowrap;
        justify-content: center;
    }
    nav li:first-of-type a {
        margin-top: inherit;
      }
    nav a {
        font-size: .895em;
        font-weight: 500;
        padding: 13px 15px 4px 15px;
        height: 50px;
    }
    nav a:hover {
        background-color: var(--brand-color3);
    }
    nav input[type=search] {
        background-color: var(--brand-color2);
        border: none;
        width: 300px;
    }
    nav input[type=search]:focus {
        background-color: var(--brand-color3);
        color: var(--light-shade);
    }
    nav input[type=search]::placeholder {
        color: var(--light-shade);
        opacity: .6;
        font-size: .85rem;
        height: 40px;
    }
    .auth-form {
        width: 500px;
        margin: 0 auto;
        padding: 3.7rem;
    }
}