@media (min-width: 992px) {
    .hamburger, .close {
        display: none;
    }
    header {
        align-items: center;
    }

    nav {
        background-color: transparent;
        height: auto;
        position: static;
        transform: translateX(0);
        align-items: center;
    }
    nav ul {
        margin: 0;
        display: flex;
        flex-flow: row;
    }
    nav ul li a:hover {
        background-color: var(--dark-shade);
    }
    nav a {
        font-size: .895rem;
        display: block;
        text-align: center;
        padding: .85rem;
    }
}