@media (min-width: 992px) {

    .hamburger,
    .close {
        display: none;
    }

    nav {
        background-color: transparent;
        height: auto;
        position: static;
        transform: translateX(0);
        align-items: center;
    }

    nav ul {
        margin: 0;
        display: flex;
        flex-flow: row;
    }

    nav ul li a:hover {
        background-color: var(--brand-color2);
    }

    nav ul li input[type=search] {
        background-color: var(--brand-color2);
        border: none;
    }

    nav ul li input[type=search]:focus {
        background-color: var(--brand-color3);
        color: var(--light-shade);
    }

    nav ul li input[type=search]::placeholder {
        color: var(--light-shade);
        opacity: .6;
        font-size: .85rem;
        height: 40px;
    }

    nav a {
        font-size: .895rem;
        display: block;
        text-align: center;
        padding: .85rem;
    }

    .auth-form {
        max-width: 500px;
        margin: 0 auto;
    }
}