@media (min-width: 768px) {
 
/* BUTTONS */
.hamburger i, .close i { 
    display: none;
}

/* HEADER SECTION */
    .navigation {
        justify-content: start;
    }

    nav {
        position: static;
        transform: translateX(0);
        background: none;
        /* border: 3px solid slateblue; */
    }
    nav ul {
        width: auto;
        height: 50px;
        flex-direction: row;
        align-items: center;
        /* flex-flow: row; */
        padding: 0;
        margin-left: 20px;
    }

    nav li {
        width: auto;
    }

    nav li:first-child { margin-top: inherit;}

    nav a {
        text-decoration: none;
        font-size: .95rem;
        font-weight: 500;
        padding: 12px;
        /* margin: 0; */
    }
    nav a:hover {
        background-color: var(--brand-color2);
    }

    .router-link.active {
        background-color: var(--brand-color2);
        border-bottom: 2px solid var(--light-shade);
    }

    nav input[type=search] {
        background-color: var(--brand-color2);
        color: var(--text-color-light);
        width: 30vw;
    }
    nav input[type=search]:focus {
        background-color: var(--brand-color2);
        color: var(--text-color-light);
    }
    nav input[type=search]::placeholder {
        color: var(--text-color-light);
        opacity: .6;
        font-size: .95rem;
    }

/* HERO SECTION */
    .hero {
        min-height: 25vh;
        align-items: flex-start;
    }

    .hero button {
        width: fit-content;
        padding: 10px 35px;
    }

}