:root {
  --light-shade: #faf9f1;
  --light-accent: #b4cae4;
  --brand-color: #3989e4;
  --brand-color2: #2b7ddb;
  --brand-color3: #1e74d6;
  --dark-accent: #8793e1;
  --dark-shade: #4b8fcb;
  --primary: #0d91b7;
  --primary1: #6ab2d1;
  --secondary: #f2a807;
  --tertiary: #953180;
  --tertiary-dark: #721a5f;
  --main: #d5d674;
}

* { margin: 0; padding: 0; font-size: 16px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

html { height: 100%; }
body { min-height: 100%; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;}

/* LINKS */
.link { color: var(--tertiary); }
.link:hover { color: var(--tertiary-dark); }

/* BUTTONS */
.button { background-color: var(--tertiary) !important; color: var(--light-shade) !important; padding: 10px 0 !important; font-weight: 500 !important; }
.button:hover { background-color: var(--tertiary-dark) !important; color: var(--light-shade) !important;}

/* HEADER SECTION  */
header {
  background-color: var(--brand-color);
  border-bottom: 2px solid rgba(0, 0, 0, .1);
  box-shadow: 0 0 3px rgba(0, 0, 0, .25);
}
.navigation {
  display: flex;
  justify-content: space-between;
  height: 50px;
  align-items: center;
}
nav {
  background: var(--tertiary);
  display: flex;
  width: 70%;
  height: 50vh;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;
  transform: translateY(-100%);
  transition: transform 0.7s ease;
}
nav:target { transform: translateY(0); }
nav ul {
  display: flex;
  flex-flow: column wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
nav li:first-of-type a { margin-top: 50px; }
nav a {
  text-decoration: none;
  display: block;
  padding: 10px;
  font-size: 2em;
  color: var(--light-shade);
  text-align: center;
}
.hamburger i, .close i { color: var(--light-shade);  font-size: 2.3rem; }
#uname { font-size: .8rem; font-weight: 400; }

nav .dropdown-menu li {
  margin: 5px;
  border-radius: 5px;
}

nav .dropdown-menu a {
  padding: 0;
  margin: 0 5px;
}
.stuffs, .messages {
  font-size: 1.3rem;
  transition: transform 0.2s;
}
.stuffs:hover, .messages:hover {
  transform: scale(1.2);
}

.auth-form {
  padding: 30px;
}

.auth-form h2 {
  font-size: 1.7rem;
  font-weight: 600;
  height: auto;
  margin-bottom: .85rem;
}

.auth-form p, .auth-form a {
  font-size: .85rem;
}

.auth-form a {
  font-weight: 500;
}

/* HERO SECTION */
.hero {
  background-color: var(--brand-color);
  height: 20rem;
  display: flex;
  align-items: center;
  padding: 25px;
}
.hero-header span {
  color: var(--light-shade);
  font-size: 1.7rem;
  font-weight: bold;
  line-height: 1.5em;
}
.hero button {
  background-color: var(--light-shade);
  color: var(--brand-color);
  font-weight: bold;
  padding: 10px 25px;
}
.intro {
  background-color: var(--light-shade);
  text-align: center;
}
.intro-btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}
.intro-btn button {
  background-color: var(--brand-color);
  color: var(--light-shade);
  border-radius: 1.5rem;
  font-size: .8rem;
  font-weight: 500;
  padding: .5rem 1.5rem;
}
.error {
  color: red;
  font-size: 1rem;
}
