{% extends "base.html" %}

{% block title %} Welcome | DijiDaro {% endblock %}

{% block body %}
<div> 
    <section class="hero">
        <div class="hero-content">
            <h1 class="hero-header mb-4"><span>Empowering Learning,</span> <br>
                <span>Sharing Information for Unparalled Excellence</span></h1>
            <button class="btn">Start Exploring</button>
        </div>
    </section>
    <section class="intro p-2">
        <p>Get access to quality educational resources, connecting learners with 
            valuable resources and supporting their academic success.
        </p>
        <div class="intro-btn px-3">
            <div><button class="btn">About DijiDaro</button></div>
            <div><button class="btn">For Educators</button></div>
            <div><button class="btn">For Parents</button></div>
        </div>
    </section>
</div>
    
<div class="container mt-5">
    {% if g.user %}
        <h2 class="my-3">Logged in as <span class="students">{{ g.user["username"] }}</span></h2>
    {% endif %}
</div>
{% endblock %}
