{% extends "base.html" %}
{% block title %} DijiDaro | Upload {% endblock %}
{% block body %}
    <div class="container">
        <h1>Upload</h1>
        <section class="p-3">
            <form action="" method="post">
                {{ form.csrf_token }}
                <div class="mb-3">
                    {{ form.resource.label(class="form-label")}}
                    {{ form.resource }}
                </div>
                <div class="mb-3">
                    {{ form.subject.label(class="form-label")}}
                    {{ form.subject }}
                </div>
                <div class="mb-3">
                    {{ form.school.label(class="form-label")}}
                    {{ form.school }}
                </div>
                <div class="mb-3">
                    {{ form.term.label(class="form-label")}}
                    {{ form.term }}
                </div>
                <div class="mb-3">
                    {{ form.year.label(class="form-label")}}
                    {{ form.year }}
                </div>
                <div class="mb-3">
                    {{ form.upload.label(class="form-label")}}
                    {{ form.upload }}
                </div>
                <div class="mb-3">
                    {{ form.submit }}
                </div>
            </form>
        </section>
    </div>
{% endblock %}